body {
    display: grid;
    grid-template-rows: 10% 1fr 20px;
    grid-template-columns: 2fr 1fr;
    height: calc(100vh - 8px);
    margin-bottom: 0px;
}

.title {
    grid-column: 1/3;
    justify-self: center;
    align-self: center;
}

.footer {
    grid-column: 1/3;
    justify-self:center;
    align-self:center
}

.game-container {
    margin: 0px 25px 0px 0px;
    border: 1px solid grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.cell {
    border: 1px solid grey;
}

.cell:hover {
    background-color: beige;
}

.game-info {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 10% 150px 1fr;
    gap: 16px;
}

.new-game-btn {
    width: 150px;
    justify-self: center;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1.6rem;
}

.players {
    display: grid;
    grid-template-rows: 60px 40px 40px;
    align-items: center;
    justify-items: center;
}

.player {
    display: grid;
    grid-template-columns: 90% 1fr;
    align-items: center;
}

.rename-btn {
    border: 0;
    background-color: transparent;
}

.rename-btn embed {
    width: 24px;
}

.heading {
    font-weight: bold;
    font-size: 1.1em;
}

.scoreboard {
    display: grid;
    grid-template-rows: 60px 40px 40px 40px;
    align-items: center;
    justify-items: center;
}

.score {
    display: grid;
    grid-template-columns: 90% 1fr;
    width: 150px;
}

.score .empty {
    justify-self: center;
}